@import "mixins";

.Edit {
  h1 {
    padding-bottom: 0.5em;
    text-align: center;
  }

  .History {
    padding-top: 0.5em;
  }

  .spinner {
    text-align: center;
  }

  .final-decision-header {
    text-align: center;
    margin-bottom: 20px;

    .final-decision-preamble {
      font-size: 3em;
    }

    .final-decision-title {
      font-weight: bold;
      font-size: 3.5em;
    }
  }

  .decidel-not-found {
    text-align: center;
    font-size: 1.5em;
  }
}
