@import "variables";

.Header {
  background-color: $primary;
  border-bottom: 1px solid $accent;
  height: 50px;
  text-align: center;
  margin-bottom: 2em;

  .created-by {
    color: $accent;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-size: 0.8em;
  }

  .logo {
    height: 40px;
    margin-top: 5px;
  }
}
